* {
  font-family: 'Playfair Display', serif;
}

body {
  background: url(media/canadaFlag.jpg) no-repeat fixed center;
  background-size: cover;
}

div {
  background: white;
  border: 5px solid red;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .95);
}

#mainPgText {
  text-align: center;
  width: 300px;
  margin: auto;
}

hr {
  width: 10%;
}

p {
  margin: 20px;
}

a {
  background: red;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 30px;
  margin-bottom: 20px;
  display: inline-block;
  width: 50px;
}

a:hover {
  background: transparent;
  color: black;
  padding: 8px 28px;
  border: 2px solid red;
}

h1 {
  text-align: center;
}

li {
  margin: 10px 0;
}

img {
  display: block;
  width: 500px;
  margin: 15px auto;
}

.caption {
  width: auto;
  margin: 15px auto;
  display: block;
  text-align: center;
}

.media {
  width: auto;
  margin: auto;
  text-align: center;
}

img.media {
  width: 500px;
}

div.media {
  background: transparent;
  border: none;
}